In [3]:
import pandas as pd

## Collecting samples for person 1

In [2]:
user_nm = "shai"

blink_type = "short_blink"
df = pd.read_excel("data/ear_vecs_per_user/" + user_nm + "/" + user_nm + "-" + blink_type + "-labelled.xlsx")

blink_type = "long_blink"
df2 = pd.read_excel("data/ear_vecs_per_user/" + user_nm + "/" + user_nm + "-" + blink_type + "-labelled.xlsx")

df0 = df[df.EYE_STATE == 0]
df1 = df[df.EYE_STATE == 1]

df0 = df0.sample(n=len(df1), random_state=42)
df2 = df2.sample(n=len(df1), random_state=42)

df = pd.concat([df0, df1, df2], ignore_index=True)
df = df.sample(frac=1, random_state=42)

df.to_excel("data/ear_vecs_per_user/" + user_nm + "/" + user_nm + "-sample" + ".xlsx", index=False)

## Collecting samples for person 3

In [18]:
user_nm = "person5"

blink_type = "short_blink"
df = pd.read_excel("data/ear_vecs_per_user/" + user_nm + "/" + user_nm + "-" + blink_type + "-labelled.xlsx")

blink_type = "long_blink"
df2 = pd.read_excel("data/ear_vecs_per_user/" + user_nm + "/" + user_nm + "-" + blink_type + "-labelled.xlsx")

df0 = df[df.EYE_STATE == 0]
df1 = df[df.EYE_STATE == 1]

df0 = df0.sample(n=len(df1), random_state=42)
df2 = df2.sample(n=len(df1), random_state=42)

df = pd.concat([df0, df1, df2], ignore_index=True)
df = df.sample(frac=1, random_state=42)

df.to_excel("data/ear_vecs_per_user/" + user_nm + "/" + user_nm + "-sample" + ".xlsx", index=False)

In [19]:
len(df)

36

### Automated labelling of data

In [ ]:
import pandas as pd

users_list = [ "person11", "person12", "person14", "person15", "person16", "person17", "person18", "person19", "person20", "person21", "person23"]
users_list = ["person6"]

for user_nm in users_list:
    df = pd.read_excel(f"data/ear_vecs_per_user/{user_nm}/{user_nm}-short_blink.xlsx")

    short_blink_df = df[(df["EAR6"] < 0.25) | (df["EAR7"] < 0.25) | (df["EAR8"] < 0.25) | (df["EAR9"] < 0.25) | (df["EAR10"] < 0.25)]
    open_eyes_df = df[(df["EAR6"] > 0.25) & (df["EAR7"] > 0.25) & (df["EAR8"] > 0.25) & (df["EAR9"] > 0.25) & (df["EAR10"] > 0.25)]

    short_blink_df["EYE_STATE"] = 1
    open_eyes_df["EYE_STATE"] = 0

    df2 = pd.read_excel(f"data/ear_vecs_per_user/{user_nm}/{user_nm}-long_blink.xlsx")
    df2["EYE_STATE"] = 2

    df_full = pd.concat([short_blink_df, open_eyes_df, df2])

    df_full.to_excel(f"data/ear_vecs_per_user/{user_nm}/{user_nm}-labelled.xlsx", index = False)

/var/folders/_0/qrjsyj4n0r951n63lt8qdzrc0000gn/T/ipykernel_26197/33428597.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  short_blink_df["EYE_STATE"] = 1
/var/folders/_0/qrjsyj4n0r951n63lt8qdzrc0000gn/T/ipykernel_26197/33428597.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  open_eyes_df["EYE_STATE"] = 0

### Converting the manually labelled data in the same format as automated labelled data

In [ ]:
user_nm = "person5"
df1 = pd.read_excel(f"data/ear_vecs_per_user/{user_nm}/{user_nm}-short_blink-labelled.xlsx")
df2 = pd.read_excel(f"data/ear_vecs_per_user/{user_nm}/{user_nm}-long_blink-labelled.xlsx")
df = pd.concat([df1, df2],ignore_index=True)
df.to_excel(f"data/ear_vecs_per_user/{user_nm}/{user_nm}-labelled.xlsx", index = False)

In [ ]:
df1

,EAR1,EAR2,EAR3,EAR4,EAR5,EAR6,EAR7,EAR8,EAR9,EAR10,EAR11,EAR12,EAR13,EAR14,EAR15,EYE_STATE
0,0.297315,0.330906,0.339546,0.326580,0.330113,0.330036,0.315789,0.328947,0.316878,0.328947,0.330036,0.342975,0.343194,0.342784,0.317967,0
1,0.330036,0.315789,0.328947,0.316878,0.328947,0.330036,0.342975,0.343194,0.342784,0.317967,0.330904,0.345834,0.328729,0.342956,0.342784,0
2,0.330036,0.342975,0.343194,0.342784,0.317967,0.330904,0.345834,0.328729,0.342956,0.342784,0.330246,0.355009,0.337483,0.337483,0.231735,0
3,0.330904,0.345834,0.328729,0.342956,0.342784,0.330246,0.355009,0.337483,0.337483,0.231735,0.173670,0.176415,0.216229,0.256659,0.284122,0
4,0.330246,0.355009,0.337483,0.337483,0.231735,0.173670,0.176415,0.216229,0.256659,0.284122,0.316660,0.329645,0.308797,0.330906,0.307708,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,0.330563,0.320072,0.325603,0.313748,0.329163,0.329817,0.308741,0.308180,0.330668,0.321101,0.325174,0.315787,0.325431,0.352490,0.308180,0
114,0.329817,0.308741,0.308180,0.330668,0.321101,0.325174,0.315787,0.325431,0.352490,0.308180,0.351598,0.325860,0.325860,0.342881,0.317072,0
115,0.325174,0.315787,0.325431,0.352490,0.308180,0.351598,0.325860,0.325860,0.342881,0.317072,0.329091,0.324520,0.325926,0.310888,0.308180,0
116,0.351598,0.325860,0.325860,0.342881,0.317072,0.329091,0.324520,0.325926,0.310888,0.308180,0.328937,0.289974,0.304621,0.316005,0.308180,0
117,0.329091,0.324520,0.325926,0.310888,0.308180,0.328937,0.289974,0.304621,0.316005,0.308180,0.324777,0.302847,0.317072,0.300248,0.331001,0

### Collecting samples from all users

In [17]:
# List of all users in scope of the study
users_list = ["person1", "person5", "person6", "person10", "person11", "person12", "person14", "person15", "person16", "person17", "person18", "person20", "person21", "person23"]

train_users_list = ["person1", "person6", "person11", "person12", "person15", "person17", "person18", "person20", "person21", "person23"]
test_users_list = ["person5", "person10", "person14", "person16"]

In [12]:
import pandas as pd

users_list = ["person1", "person5", "person6", "person10", "person11", "person12", "person14", "person15", "person16", "person17", "person18", "person19", "person20", "person21", "person23"]
for user_nm in users_list:
    df = pd.read_excel(f"data/ear_vecs_per_user/{user_nm}/{user_nm}-labelled.xlsx")

    df0 = df[df.EYE_STATE == 0]
    df1 = df[df.EYE_STATE == 1]
    df2 = df[df.EYE_STATE == 2]

    # undersample all types of rows to have equal distribution
    df_size = min(len(df0), len(df1), len(df2))
    df0 = df0.sample(n=df_size, random_state=42)
    df1 = df1.sample(n=df_size, random_state=42)
    df2 = df2.sample(n=df_size, random_state=42)

    df = pd.concat([df0, df1, df2], ignore_index=True)
    df = df.sample(frac=1, random_state=42)

    df.to_excel("data/ear_vecs_per_user/" + user_nm + "/" + user_nm + "-sample" + ".xlsx", index=False)

In [11]:
min(len(df0), len(df1), len(df2))

62

## Merging data of different users

In [13]:
df.columns

Index(['EAR1', 'EAR2', 'EAR3', 'EAR4', 'EAR5', 'EAR6', 'EAR7', 'EAR8', 'EAR9',
       'EAR10', 'EAR11', 'EAR12', 'EAR13', 'EAR14', 'EAR15', 'EYE_STATE'],
      dtype='object')

In [18]:
columns = ['EAR1', 'EAR2', 'EAR3', 'EAR4', 'EAR5', 'EAR6', 'EAR7', 'EAR8', 'EAR9',
       'EAR10', 'EAR11', 'EAR12', 'EAR13', 'EAR14', 'EAR15', 'EYE_STATE']

df = pd.DataFrame(columns=columns)

for user_nm in train_users_list:
       df_user = pd.read_excel("data/ear_vecs_per_user/" + user_nm + "/" + user_nm + "-sample" + ".xlsx")
       print(f"{user_nm} : {len(df_user)}")
       df = pd.concat([df, df_user], ignore_index=True)

df.to_excel("data/train-sample-data.xlsx", index=False)

person1 : 63
person6 : 42
person11 : 144
person12 : 126
person15 : 153
person17 : 111
person18 : 111
person20 : 165
person21 : 153
person23 : 186

/var/folders/_0/qrjsyj4n0r951n63lt8qdzrc0000gn/T/ipykernel_29814/1833221864.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, df_user], ignore_index=True)

In [19]:
columns = ['EAR1', 'EAR2', 'EAR3', 'EAR4', 'EAR5', 'EAR6', 'EAR7', 'EAR8', 'EAR9',
       'EAR10', 'EAR11', 'EAR12', 'EAR13', 'EAR14', 'EAR15', 'EYE_STATE']

df = pd.DataFrame(columns=columns)

for user_nm in test_users_list:
       df_user = pd.read_excel("data/ear_vecs_per_user/" + user_nm + "/" + user_nm + "-sample" + ".xlsx")
       print(f"{user_nm} : {len(df_user)}")
       df = pd.concat([df, df_user], ignore_index=True)

df.to_excel("data/test-sample-data.xlsx", index=False)

person5 : 36
person10 : 81
person14 : 69
person16 : 90

/var/folders/_0/qrjsyj4n0r951n63lt8qdzrc0000gn/T/ipykernel_29814/2648026426.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, df_user], ignore_index=True)